*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: AprovaSans;
  src:  url('../../fonts/Aprova-Regular.woff2') format('woff2'),
        url('../../fonts/Aprova-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: AprovaSans;
  src:  url('../../fonts/Aprova-Bold.woff2') format('woff2'),
        url('../../fonts/Aprova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: AprovaSans;
  letter-spacing: -0.010em;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--onyx);
  background-color: var(--white);
  margin: 0;
  padding: 0;
}


h1 {
  font-size: calc(0.6vw + 17.3px);
}

h2 {
  font-size: calc(0.1vw + 17.3px);
  color: var(--aluminun);
}

.container {
  max-width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 100px;
}

.cta {
  margin-top: 25px;
  border-radius: 50px;
  background-color: #00e88f;
  padding: 20px 60px;
  font-weight: 800;
  width: 280px;
  font-size: calc(0.1vw + 17.3px);
}
