:root {
  --white: #FFFFFF;
  --gains-boro: #DDDDDD;
  --iron: #D8D8D8;
  --aluminun: #B2B2B2;
  --steel: #666666;
  --mineShaft: #333333;
  --onyx: #111111;
  --black: #000000;
  --green: #00E88F;
  --springGreen: #00F28F;
  --jade: #00C974;
  --rose: #C51162;
  --vestibular: #F5A623;
  --escola: #BD10E0;
  --concursos: #42A5F5;
  --pos: #FF5A56;

}
