.header{
  background-color: var(--white);
  height: 80px;
  position: relative;
  width: 100vw;
  min-height: 40px;
  border-bottom: 1px solid #F3F3F3;
  padding: 0 3vw;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all .5s ease;
}

.logo{
  height: 100%;
  padding-top: 24px;
  padding-bottom: 28px;
}

.items{
  height: 100%;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-right: 12px;
  float: right;
  font-weight: 800;
  letter-spacing: -0.9px;
  font-size: calc(0.283vw + 14px);
  color: var(--gains-boro);
  cursor: pointer;
}
